@model employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form method="post" asp-action="Delete">
    <div>
        <input asp-for="username" disabled />
    </div>
    <div>
        <input asp-for="password" readonly />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Delete</button>
        <button class="btn btn-dark" asp-controller="simple" asp-action="Index">Back</button>
    </div>
</form>
