@model employee
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-action="Edit">
    <div>
        <input asp-for="username"  />
    </div>
    <div>
        <input asp-for="password"  />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Edit</button>
        <button class="btn btn-dark" asp-controller="simple" asp-action="Index">Back</button>
    </div>
</form>