@model BookCategory


<form>
	<div>
		<div>
			<input asp-for="Name" placeholder="Enter Name of Book"/>
		</div>
		<div>
			<input asp-for="Description" placeholder="Enter description" />
		</div>
		<div>
			<input asp-for="DisplayOrder" placeholder="display order" />
		</div>

		<button>Submit</button>
	</div>
</form>