@{
    ViewData["Title"] = "This is Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to Six Sigma</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section>
    <img src="https://as2.ftcdn.net/v2/jpg/04/98/25/03/1000_F_498250393_bNEGLNU4KR1GlnfzaCFGqRuag9U1vqcn.jpg" alt="Banner Image" style="width: 100%;">
    <br><br>

</section>

<section class="cards d-flex justify-content-around flex-lg-wrap">
    <div class="card p-2">
        <img src="https://imgs3.freeup.app/fit-in/300x400/filters:upscale()/cf3ea5a6c6d69f7a17cf3709f42ce5e6.jpg" alt="hcverma"/>
        <h2 class="mt-3">Concept of Physics by HC Verma</h2>
        <p>Set of Vol 1 and Vol 2 2023 Edition</p>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-outline-secondary">Order Now</button>
        </div>
    </div>

    <div class="card p-2">
        <img src="https://rukminim2.flixcart.com/image/300/300/xif0q/regionalbooks/9/g/0/solutions-of-objective-mathematics-old-used-book-original-imagtzutghfdykcf.jpeg?q=70" alt="rdsharma" />
        <h2 class="mt-3">Maths by RD Sharma</h2>
        <p>Set of Vol 1 and Vol 2 2023 Edition</p>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-outline-secondary">Order Now</button>
        </div>
    </div>

    <div class="card  p-2">
        <img src="https://m.media-amazon.com/images/I/A107AcxivKL._SY300_.jpg" alt="rsaggrwal" />
        <h2 class="mt-3">RS Aggrawal Maths Tricks</h2>
        <p>Standard 8 2023 Edition</p>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-outline-secondary">Order Now</button>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="d-flex justify-content-around p-3">
        <button class="btn btn-outline-primary" onclick="window.location.href='knowmore.html'">Know More</button>
        <button class="btn btn-outline-info" onclick="window.location.href='contactus.html'">Contact Us</button>
    </div>
</section>