@{
    ViewData["Title"] = "This is Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to Six Sigma</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section>
    <img src="https://cdn.pixabay.com/photo/2016/07/31/16/24/banner-1559400_1280.jpg" alt="Banner Image" style="width: 100%;">
    <br><br>
    <button class="btn btn-outline-primary" onclick="window.location.href='knowmore.html'">Know More</button>
    <button class="btn btn-outline-info" onclick="window.location.href='contactus.html'">Contact Us</button>
</section>

<section class="cards d-flex justify-content-around flex-lg-wrap">
    <div class="card p-5 m-3">
        <h2>Card 1</h2>
        <p>Some information about Card 1.</p>
    </div>

    <div class="card p-5 m-3">
        <h2>Card 2</h2>
        <p>Some information about Card 2.</p>
    </div>

    <div class="card  p-5 m-3">
        <h2>Card 3</h2>
        <p>Some information about Card 3.</p>
    </div>
</section>